h1,
h2,
h3,
img {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 60%
}
#imgDiv{
    background-image: url("Apocalyptic_Love_Album_Cover.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px 400px;
    
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border: 1px solid black;
}
table{
    border-collapse: collapse;
    border:1px solid black;
    width:95%;
    text-align: center;
    margin: 0 auto;
    background-color: whitesmoke;
}
tbody{
    font-style: italic;
}
tbody tr:nth-child(even){
    background-color: lightgray;
}
tr,td,th{
    border:1px solid black;
}
th{
    background-color: #B4B4B4;
}
ul{
    width:80%;
    margin: 20px auto;
}
/* Styling for band name link */
#bandNameContainer{
    text-align: center;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#bandName{
    display: inline;
    padding: 0;
    margin: 0;
}
#bandName:hover{
    background-color: lightgray;
}