/* footer*/
footer {
    text-align: center;
    position: relative;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: darkgray;
    color: white;
}
/* retraunt title*/
h1 {
       text-align: center;
       font-family: cursive;
}
a:link{
    color: blue;
}
/* a:visited will not work in firefox if remember history is off */
a:visited {
    color:rebeccapurple;
}
a:hover {
    font-weight: bold;
}
a:active {
    text-decoration: none;
}